@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #273444;
}

.body {
    color: #FFFFFF;
}

.header {
    height: 56px;
    background-color: #FFFFFF;
}

#grid-item1 {
    grid-column: 1 / 2;
}

#grid-item2 {
    grid-column: 3;
}

#grid-item3 {
    grid-column: 4;
}

#grid-item4 {
    grid-column: 2;
}

#grid-item5 {
    grid-column: 3 / 6;
}

#grid-item6 {
    grid-column: 2;
}

#grid-item7 {
    grid-column: 3 / 6;
}

#grid-item8 {
    grid-column: 2;
}

#grid-item9 {
    grid-column: 3 / 6;
}

.footer {
    background-color: #273444;
    color: #FFFFFF;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 10%;
}

.imprint {
    color: #FFFFFF;
}